<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58142437612-g4hev7g92bbbngapr5gcnnll8604fuck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58142437612-g4hev7g92bbbngapr5gcnnll8604fuck</string>
	<key>API_KEY</key>
	<string>AIzaSyAPvuBt4qBZHD6OmJumrkurRMMTg93PuXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>58142437612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Monash.Techo-</string>
	<key>PROJECT_ID</key>
	<string>techos-117a2</string>
	<key>STORAGE_BUCKET</key>
	<string>techos-117a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58142437612:ios:98b5ebb74730a19af775c9</string>
</dict>
</plist>